html {
    height: 100%;
    width: 100%;
    background: url(aneesh.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    /*background-color: #bbddee;*/
}

#container {
    width: 700px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5); /*#3399cc;*/
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 30px #ff0000;
    margin-top: 200px;
}

#left-panel {
    color: #ffffff;
    width: 160px;
}

#right-panel {
    color: #ffffff;
    width: 460px;
}

.panel {
    float: left;
    padding: 20px;
}

#profile {
    width: 100%;
    border: 3px solid white;
}

a {
    color: #45A28F;
}

a:hover {
    color: #dddddd;
}

a:active {
    color: #aaaaaa;
}
